@import 'mixins';

$base: 8px;

$backgroundColor: #22A6B3;
$backgroundColorSecondary: #F0F0F0;
$bodyBackground: white;


$font-size-large: 32px;
$font-size-medium: 21px;

%text-large {
    font-size: $font-size-large;
    line-height: 1.2;
}

%text-medium {
    font-size: $font-size-medium;
    line-height: 1.2;
}

html {
    @include antialias();
}

body {
    margin: 0;
    background: $bodyBackground;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
}

a {
    text-decoration: none;
}

.screen-size {
    width: 100%;
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.container {
    margin: auto;
    width: 100%;
    max-width: $base * 64;
}

.grid-container {
    padding-left: $base * 2;
    padding-right: $base * 2;
}

.chat-bubble {
    background: white;
    padding: $base * 4;
    border-radius: $base * 4;
    margin-top: $base * 6;
    position: relative;

    &:before {
        @include arrow('up', 24px, white);
        content: '';
        position: absolute;
        left: 64px;
        bottom: 100%;
    }
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.labian-test-gif {
    background-image: url('../images/test.gif');
}

.scene {
    background-color: $backgroundColor;
}

.scene__header {
    height: $base * 16;
    background-color: $backgroundColorSecondary;
}

.navigation-icon {
    @include aspect-ratio(1, 1);

    background: $backgroundColorSecondary;
    border-radius: 100%;
    max-width: $base * 23;
    margin: auto;
}

.home-button {
    position: fixed;
    bottom: 24px;
    left: 24px;
}
